
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/js/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/js/common.js" type="text/javascript"></script>
    <title>Index</title>
    <script src="~/Scripts/app/home.js"></script>
</head>
<body>
    <div id="header">
       
        <!--幻灯片 开始-->
        <script src="~/Scripts/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
                $('.myflexslider').flexslider({

                        controlNav: true,

                        directionNav: false,

                        animation: "slide",

                        //manualControls: ".myflexslider .slidenav"

                    });

          });

        </script>
        <div class="myflexslider" style="margin-top:1px;">
            <ul class="slides">
                @*<li><img src="~/Scripts/images/1408672627.jpg" width="100%" /></li>
                <li><img src="~/Scripts/images/1408672648.jpg" width="100%" /></li>
                <li><img src="~/Scripts/images/1408672632.jpg" width="100%" /></li>
                <li><img src="~/Scripts/images/1409647536.jpg" width="100%" /></li>*@
            </ul>
        </div>
        <!--幻灯片 结束-->
    </div>
    <div id="content">
        <!--导航开始-->
        <ul class="channellist">
            <li>
                <a href="#" id="regsiter">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/news.jpg" />
                    </div>
                    <div class="ChannelName">
                        登记信息
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/about.jpg" />
                    </div>
                    <div class="ChannelName">
                        我的病人
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/Product.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/1409023353.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/1408672415.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/1408672427.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/1408672443.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/1408672456.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="ChannelIcon">
                        <img src="~/Scripts/images/1408672469.jpg" />
                    </div>
                    <div class="ChannelName">
                        尚未开放
                    </div>
                </a>
            </li>
        </ul>
        <!--导航结束-->
        <div class="clear"></div>
    </div>
    <!--页脚开始-->
    <div id="footer">
        <!-- 微信分享导引 开始-->
        <script>
        function openGuide(){ document.getElementById('guide').style.display='block'; }

        function closeGuide(){ document.getElementById('guide').style.display=''; }

        </script>
        <div id="guide" onClick="closeGuide()">
            <img src="~/Scripts/images/guide.png" />
        </div>
        <!-- 微信分享导引 结束-->
        <!--快捷按钮 开始-->
        <div class="plug-div">
            <div class="plug-phone">
                <div class="plug-menu themeStyle">
                    <span class="close"></span>
                </div>
                <div class="themeStyle plug-btn plug-btn1 close">
                    <a href="/"><span style="background-image: url(~/Scripts/ky_img/home.png);"></span></a>
                </div>
                <div class="themeStyle plug-btn plug-btn2 close">
                    <a href="Contact.html"><span style="background-image: url(~/Scripts/ky_img/tel.png);"></span></a>
                </div>
                <div class="themeStyle plug-btn plug-btn3 close">
                    <a href="About.html"><span style="background-image: url(~/Scripts/ky_img/aboutus.png);"></span></a>
                </div>
                <div class="themeStyle plug-btn plug-btn4 close">
                    <a href="Message.html"><span style="background-image: url(~/Scripts/ky_img/guestbook.png);"></span></a>
                </div>
                <div class="plug-btn plug-btn5 close"></div>
            </div>
        </div>
        <!--快捷按钮 结束-->
        <div class="copyright">
            这里是底部信息<br>免责声明：所有资源仅供学习与参考，版权归原作者，请勿用于商业用途，否则产生的一切后果将由您自行承担，与17素材网无关。
        </div>
    </div>
</body>
</html>
